<label for="meal-cost">Meal Cost:</label>
<input id="meal-cost" type="number" placeholder="meal cost"
       value="@this.PercentCalculations.MealAmount"
       @oninput="@this.HandleMealAmountChanged" />

@if (this.PercentCalculations is null)
{
    <p>Loading...</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Percent</th>
                <th>Tip</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var calc in this.PercentCalculations)
            {
                <tr>
                    <td>@($"{calc.Percent:##}")%</td>
                    <td>$@($"{calc.Tip:##0.00}")</td>
                </tr>
            }
            <tr>
                <td>
                    <input id="custom-percent" type="number" placeholder="custom percent"
                           value="@this.CustomTip.Percent"
                           @oninput="@this.HandleCustomTipAmountChanged" />
                </td>
                <td>$@($"{this.CustomTip.Tip:##0.00}")</td>
            </tr>
        </tbody>
    </table>
}