<label for="bill-amount">Bill Amount:</label>
<input id="bill-amount" type="number" placeholder="bill amount"
       value="@this.PercentCalculations.BillAmount"
       @oninput="@this.HandleBillAmountChanged" />

@if (this.PercentCalculations is null)
{
    <p>Loading...</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Percent</th>
                <th class="text-right">Tip</th>
                <th class="text-right">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var calc in this.PercentCalculations)
            {
                <tr>
                    <td>@($"{calc.Percent:##}")%</td>
                    <td class="text-right">$@($"{calc.Tip:##0.00}")</td>
                    <td class="text-right">$@($"{calc.Total:##0.00}")</td>
                </tr>
            }
            <tr>
                <td>
                    <input id="custom-percent" type="number" placeholder="custom percent"
                           value="@this.CustomTip.Percent"
                           @oninput="@this.HandleCustomTipAmountChanged" />
                </td>
                <td class="text-right">$@($"{this.CustomTip.Tip:##0.00}")</td>
                <td class="text-right">$@($"{this.CustomTip.Total:##0.00}")</td>
            </tr>
        </tbody>
    </table>
}